#cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
}

.dete{
    width: 100px;
    height: 100px;
    background-color: rgb(51, 51, 179);
}